@font-face {
    font-family: 'Chalk';
    src: url('fonts/EraserDust.ttf') format('truetype');
    src: url('fonts/EraserRegular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

/* Elements */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/bg.png');
    font-family: 'Chalk';
    color: white;
    letter-spacing: .175em;
    cursor: default;

}

h1 {
    align-items: center
}

#messages {
    font-size: 1.7em;
    margin: 30px;
    border-top: 0;
    border-bottom: 0;
}

#scoreboard {
    border: solid rgba(255, 255, 255, .915);
    border-radius: 20px;
    padding: 10px;
}

#scoreboard {
    min-width: 435px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 75px;
}

#new-game-splash {
    text-align: center;
    border: solid rgba(255, 255, 255, .915);
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
}


.button {
    border: none;
    background: rgba(255, 255, 255, .915);
    font-size: 1.25em;
    border-radius: 10px;
    font-family: 'Chalk';
    padding: 10px;
}

.hidden {
    display: none;
}

.score {
    font-size: 2em;
    padding: 5px;
}

.end-of-game {
    margin-top: 20px;
}

.player1 {
    float: left;
}

.player2 {
    float: right;
}

/* Game board */

div[quadrant] {
    font-size: 7em;
    text-align: center;
    align-content: center;
    line-height: 166.6px;
}

div[quadrant="0"],
div[quadrant="1"],
div[quadrant="3"],
div[quadrant="4"] {
    border-right: solid thick rgba(255, 255, 255, .915);
    border-bottom: solid thick rgba(255, 255, 255, .915);
    border-radius: 1px;
}

div[quadrant="2"],
div[quadrant="5"] {
    border-bottom: solid thick rgba(255, 255, 255, .915);
    border-radius: 1px;

}

div[quadrant="6"],
div[quadrant="7"] {
    border-right: solid thick rgba(255, 255, 255, .95);
    border-radius: 1px;

}

/* Hiding browser default radial */
.chalk-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Customizing the label container */
.chalk-checkbox {
    display: inline;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1.15em;
}

.chalk-checkbox:hover input~.radial {
    background: rgba(255, 255, 255, .9);
}

/* Custom checkbox */
.radial {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: url('../img/bg.png');
    border: solid thin rgba(255, 255, 255, .9);
}

.radial:after {
    content: "";
    position: absolute;
    display: none;
}

.chalk-checkbox input:checked~.radial:after {
    display: block;
}

.chalk-checkbox .radial:after {
    content: "\2713";
    font-size: 2em;
    bottom: -10px;
    left: -4px;
}


.text-field {
    border: solid thin rgba(255, 255, 255, .9);
    border-radius: 50px;
    padding: 2px;
    background: url('../img/bg.png');
    color: rgba(255, 255, 255, .9);
    font-family: 'Chalk';
    text-align: center;
}

button:active {
    background: url('../img/bg.png');
    color: rgba(255, 255, 255, .95);
    outline: none;
}

/* Form Mechanics */

/* .one-player {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    display: none;
}

.two-player {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    display: none;
}

.chalk-checkbox input[value="1"]:checked~.new-game-container .one-player {
    opacity: 1;
    overflow: visible;
    max-height: 100px;
    display: inline;
}

.two-player {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    display: none;
}

input[value="2"]:checked~.two-player {
    opacity: 1;
    overflow: visible;
    max-height: 100px;
    display: inline;
}

.one-player {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    display: none;
} */

input[type="text"]:focus {
    outline: none;
}